.update1 {
    margin: 10px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
}

header {
    background-color: black;
    color: white;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

.calculator {
    min-width: 300px;
    max-width: 100%;
    width: auto;
    overflow-x: auto;
    margin: 10px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.rowlabel {
    font-weight: normal;
}

.columnlabel {
    text-align: left;
    font-weight: normal;
}

.btn-2 {
    margin-right: 30px;
}

.btn-1,
.btn-2,
.btn-3,
.btn-4 {
    background-color: #469de8;
    padding: 3px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 15px;
    text-align: center;
    color: white;
    border: none;
    border-radius: 15px;
    width: 40px;
    margin-bottom: 40px;
}

.btn-1:hover,
.btn-3:hover,
.btn-2:hover,
.btn-4:hover {
    background-color: #2159bf;
    cursor: pointer;
}

.btn-1:active,
.btn-2:active,
.btn-3:active,
.btn-4:active {
    scale: 0.95;
}

.btn-5 {
    background-color: #3fd932;
    margin-right: 10px;
}

.btn-5:hover {
    background-color: #2ab21f;
    cursor: pointer;
}

.btn-6 {
    background-color: #f94141;
}

.btn-6:hover {
    background-color: #ca2a2a;
    cursor: pointer;
}

.btn-5,.btn-6 {
    padding: 3px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 14px;
    text-align: center;
    color: white;
    border: none;
    border-radius: 15px;
    margin-top: 40px;
    margin-left: 10px;
    scale: 1.25;
}

.btn-5:active,.btn-6:active {
    scale: 1.20;
}

.checkbox {
    margin-top: 20px;
}

.checkbox label {
    margin-right: 10px;
}

h1 {
    text-align: center;
    color: black;
}

h3 {
    color: black;
    margin-left: 10px;
}

p {
    line-height: 1.6;
    color: black;
    margin: 10px;
}